@model IEnumerable<RentLodge.Models.Photo>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Count() > 0)
{
    @foreach (var photo in Model)
    {
        string photoImage = "";
        if (photo.Image != null)
        {
            var base64File = Convert.ToBase64String(photo.Image);
            photoImage = String.Format("data:image/gif;base64,{0}", base64File);

        }
        <div class="dope-af-card">
            <img src="@photoImage" width="200" />

        </div>
    }
}


