@model RentLodge.Models.ApartnmentViewModels.ApartmentViewModel
@{
    ViewData["Title"] = "Apartment";
}
<div class="new-apart">
    <div class="row">
        <h2 class="col m6 offset-m4">@ViewData["Title"]</h2>
    </div>
    <div class="row">
        <div class="col l12">
            <div class="col l6 offset-l3 ap-form">
                <form asp-controller="Apartment" asp-action="Create" method="post" class="form-horizontal">
                    <div id="apt-head" class="row">
                        <div class="form-group col m10">
                            <label asp-for="Title" class="control-label"></label>
                            <div>
                                <input asp-for="Title" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col m2">
                            <label asp-for="Price" class="control-label"></label>
                            <div>
                                <input asp-for="Price" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="start-apartment-form">
                        <div class="add-address"></div>
                        <div id="display-address-form"></div>
                        <div class="add-description">Description</div>
                        <div id="display-description-form"></div>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row after-ap-form">
    </div>
</div>


<script>

    $(document).ready(function () {

       
        $.ajax({
            type: 'GET',
            dataType: 'html',
            url: '@Url.Action("Create", "Address")',
            success: function (result) {
                $('#display-address-form').html(result);
            }
        });
    });

    $(document).ready(function () {
        //$('#display-description-form').toggle(400);
        $.ajax({
            type: 'GET',
            dataType: 'html',
            url: '@Url.Action("Create", "Description")',
            success: function (result) {
                $('#display-description-form').html(result);
            }
        });
    });
</script>


