@model RentLodge.Models.Apartment
<div class="row">
    <div class="delete-container col l11 offset-l1">
        <h2>You are about to delete @Model.Title apartment</h2>
        <form asp-controller="Apartment" asp-action="Delete" method="post" class="form-horizontal">
            @*<input asp-for="Id" type="hidden" class="form-control" />*@
            <button type="submit" class="btn btn-default">Delete</button>
        </form>
    </div>
</div>


