@model RentLodge.Models.SearchViewModels.SearchViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="search">
    <div class="opacity">
        <div class="container main-search">
            <div class="search-container">
                <div class="row header">

                </div>
                <div class="row">
                    <form class="col m12 search-form" asp-controller="Apartment" asp-action="Index">
                        <div class="col l4">
                            @*<label asp-for="City" class=""></label>*@
                            <div class="">
                                <input asp-for="City" class="form-control" />
                            </div>
                        </div>
                        <div class="col l2">
                            @*<label asp-for="Country" class=""></label>*@
                            <div class="">
                                <select asp-for="Country" asp-items="ViewBag.Countries" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col l2">
                            @*<label asp-for="MoveIn" class=""></label>*@
                            <div class="">
                                <input asp-for="MoveIn" type="date" class="form-control" />
                            </div>
                        </div>
                        <div class="col l2">
                            @*<label asp-for="MoveOut" class=""></label>*@
                            <div class="">
                                <input asp-for="MoveOut" type="date" class="form-control" />
                            </div>
                        </div>
                        <div class="col l2">

                            <button id="btn-search" class="btn btn-default">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="quote">
            <h2>I look my best when I'm totally free, on holiday, walking on the beach.</h2>
        </div>
    </div>
</div>
