@model RentLodge.Models.SearchViewModels.SearchViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="search">
    <form asp-controller="Apartment" asp-action="Index">
        <div class="form-group">
            <label asp-for="City" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="City" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Country" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Country" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MoveIn" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MoveIn" type="date" class="picker__date-display" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MoveOut" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MoveOut" type="date" class="form-control" />
            </div>
        </div>
        <button class="btn btn-default">Search</button>
    </form>
</div>


