@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="auth-container">
    <div class="row">
        <div class="col m5 offset-l3">
            <div class="auth-form z-depth-5">
                <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <h4>New Profile</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="FirstName" class="form-control" />
                            @*<span asp-validation-for="Email" class="text-danger"></span>*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="LastName" class="form-control" />
                            @*<span asp-validation-for="Email" class="text-danger"></span>*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="CountryId" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            @*@Html.DropDownListFor(m => m.CountryId, ViewBag.Countries as IEnumerable<SelectListItem>)*@
                            <select asp-for="CountryId" asp-items="ViewBag.Countries" class="form-control input-field select"></select>
                            @*<span asp-validation-for="Email" class="text-danger"></span>*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
