/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* Carousel */
/*.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}*/

/* buttons and links extension to use brackets: [ click me ] */
/*.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}*/

/* Make .svg files in the carousel display properly in older browsers */
/*.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}*/

/* Hide/rearrange for smaller screens */
/*@media screen and (max-width: 767px) {*/
  /* Hide captions */
  /*.carousel-caption {
    display: none
  }
}



//////////////////////////////materialize*/

h1, h2, h3, h4, h5, h6, a {
     font-family: 'Carter One', cursive;

}
body {
     /*font-family: 'Montserrat', sans-serif;*/
     font-size: 18px;
     font-family: 'Lato', sans-serif;
     /*padding-bottom: 277px !important;*/
     /*margin-bottom: 277px !important;*/
}
#menu {
    position: absolute;
    padding-left: 30px;
    padding-top: 30px;
 
}
.menu-icon {
    font-size: 34px;
    color:  #ffbd2b; 
}
.user-view {
    height: 200px;
}

.btn {
    background-color: #ffbd2b;
    border-radius: 3px;
   
}
.search {
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    width: 100%;
    background-image: url('../images/home_page.jpg');
}
.opacity {
    height: 100vh;
    background-size: cover;
    width: 100%;
    background-color: rgba(251, 251, 249, 0.28);
}
.form-control {
    
}
.custom {
    border-radius: 3px !important;
    background-color: #fef1de !important;
    display: inline-block;
    margin: 10px !important;
    text-align:center;
    font-size: 26px !important;
}
.main-search {
    width: 90%;
    text-align: center;
    padding-left: 20px;

    
}
.main{
    border: 2px solid salmon;
    padding-left: 20px;
    padding-top: 20%;
    position:center;
}
.header {
    height:450px;
}
.search-form {
    border: 2px  solid #e2dbbb;
    background-color: rgba(47, 68, 64, 0.66);
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align:center;
}
.quote{
    margin-top: 100px;
    margin-bottom: 80px;

}
.container {
    width: 100%;
}
/*/////////buttons*/
#btn-search {
    width: 100%;
    margin-top: 15px;
}
/*/////////////////////////footer*/
.page-footer {
    background-color:#26A699;
    bottom: 0;
    /*position:fixed;*/
    width:100%;
}


textarea { 
    /*padding-left: 30px !important;
    padding-right: 30px !important;
    margin-right: 30px !important;*/
    width: auto;
    height: 100px !important;
    font-size: 20px !important;
}
.new-apart {
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    width: 100%;
    background-image: url('../images/living-room.jpg');
}
.ap-form {
    border: 1px solid rgba(208, 207, 207, 0.64);
    background-color: rgba(93, 74, 34, 0.42);
    color: #ffa706;
    margin-bottom: 100px;
    padding: 20px !important;
    margin-top: 100px;
}
.ed-form {
    border: 1px solid rgba(208, 207, 207, 0.64);
    background-color: rgba(160, 151, 131, 0.88);
    color: #ffa706;
    margin-bottom: 100px !important;
    padding: 20px !important;
}
.img-collection {
    height:200px !important;
}


.search-result {
    /*background-color: whe?at;*/ 
}

/*/////////////////////stars*/
div.stars {
  width: 270px;
  display: inline-block;
}
input.star { display: none; }
label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}
input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}
input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}
input.star-1:checked ~ label.star:before { color: #F62; }
label.star:hover { transform: rotate(-15deg) scale(1.3); }
label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
.card {
    background-color: #ffab40;
}
.card-action a {
    color: #26a699 !important;
}
.card-content p{
    font-size: 22px;
}
.details-container {
    background-image: url('../images/livingroom-details.jpeg');
    background-repeat: no-repeat;
    /*height: auto;*/
    background-size: cover;
    width: 100%;
    height: 300px;
    /*padding-top: -300px !important;*/
}
.details-body {
    /*background-color: rgba(153, 173, 172, 0.7);*/
}

.carousel .carousel-item img {
    height: 400px !important;
    width:auto !important;
}
.carousel .carousel-item {
    margin-top: -100px !important;
}.carousel {
     height: 500px;
     text-align: center;
     margin-left: -100px;
 }
 .reservation-header {
    background-image: url('../images/reservation.jpg');
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    width: 100%;
    height: 400px;
    padding-top: -300px !important;
 }
 .edit-form {
     margin-top: 200px !important;
 }
.edit-apart {
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    width: 100%;
    background-image: url('../images/edit-form-back.jpg');
}

.date {
        font-size: 20px !important;
}
.auth-container {
    background-image: url('../images/login.jpg');
    height: 100vh !important;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.auth-form {
    background-color:rgba(240, 248, 255, 0.14);
    padding: 30px;
    margin-top: 250px;
    font-size: 18px !important;
}
.auth-form .form-control {
    font-size: 35px !important;

}
.ap-list-header {
    background-image: url('../images/sofa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}
.photo-header {
    background-color: white;
    height: 67px !important;
}