@model RentLodge.Models.ApartnmentViewModels.ApartmentViewModel
    <h4>Description</h4>
    <hr />
    <div class="form-group col m3">
        <label asp-for="Bedrooms" class="control-label"></label>
        <div class="col-md-10">
            <input asp-for="Bedrooms" class="form-control custom" />
        </div>
    </div>
<div class="form-group col m3">
    <label asp-for="Bathrooms" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Bathrooms" class="form-control custom" />
    </div>
</div>
<div class="form-group col m3">
    <label asp-for="Floor" class="col-md-2 control-label"></label>
    <div>
        <input asp-for="Floor" class="form-control custom" />
    </div>
</div>
<div class="form-group col m3">
    <label asp-for="Guests" class="col-md-2 control-label"></label>
    <div>
        <input asp-for="Guests" class="form-control custom" />
    </div>
</div>
<div class="form-group input-field col m12">
    
    <div>
        <textarea id="AditionalInfo" class="materialize-textarea" asp-for="AditionalInfo" placeholder="Additional information..."/>
        <label for="AditionalInfo" class="control-label"></label>
    </div>
</div>
