@model RentLodge.Models.Description
<h4>Add Description</h4>
<hr />
<div class="form-group">
    <label asp-for="Bedrooms" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Bedrooms" class="form-control" />
    </div>
</div>
