@model IEnumerable<Reservation>

@{
}
<h3>Reservation's history</h3>
<ul>
    @foreach (var item in Model)
    { 
        <li>
            @Html.ActionLink(item.Apartment.Title, "Details", new { id = item.Id })
        </li>
    }
</ul>



